* {
    box-sizing: border-box;
    margin: 0;
  }
  .heroTitle{
    font-size: 50px;
  }
 
  :root {
    --primary: #f9f9f9;
    --secondery: #3d3b8e;
    --accent: #6883ba;
    --text: #000000;
  }
  .logo{
    color: #f9f9f9;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--primary);
    font-family: Poppins, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: var(--text);
  }
  
  img {
    width: 100%;
  }
/* hero banner */
.hero-banner {
  background-image: url("https://64.media.tumblr.com/46d654bfffafef8623493ec745825279/0b4c1fbaef26965b-f9/s500x750/77d844fbec8126e905fe951eb1379be9265249bf.jpg");
  background-size: cover;
  background-position: center;
  color: #fff; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

  
  h1 {
    text-align: center;
  }

  h2{
    font-size: 40px;
  }


  /* utility classes */
.container {
    padding: 4rem 2rem;
    color: var(--text);
  }
  
  .highlighted {
    color: var(--secondery);
  }
  
  .hidden {
    display: none;
  }
  
  .btn {
    background-color: var(--accent);
    color: var(--text);
    padding: 0.5rem 3rem;
    border-radius: 5rem;
    display: inline-block;
    margin-top: 2rem;
    border: 2px solid var(--accent);
  }
  
  .btn:hover {
    background-color: transparent;
    color: var(--accent);
  }
  /* Header style */
.nav {
    background-color: var(--secondery);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
  }
  
  .logo {
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    background-color: var(--secondery);
    width: 100%;
    left: -200%;
    padding: 1rem;
    transition: left 0.5s ease;
  }
  
  .nav-active {
    left: 0;
  }
  
  .nav-item {
    font-size: 0.8rem;
    opacity: 0.7;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    position: relative;
    color: white;
  }
  
  .nav-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(56, 56, 56);
    margin-top: 0.5rem;
  }
  
  .nav-item:hover {
    opacity: 1;
  }
  
  .nav-item-active::after {
    background-color: var(--accent);
    opacity: 1;
  }
  
  .toggler .line {
    width: 30px;
    height: 2px;
    display: block;
    background-color: var(--text);
    margin: 5px;
  }

  /* Hero styles */
.hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: var(--text);
  }
  
  .hero-img {
    padding-top: 2rem;
  }
  
  .hero-info {
    text-align: center;
    padding-top: 3rem;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  .hero-description {
    opacity: 0.7;
  }

  

 
  /* contact styles */
.contact-info-item {
    display: flex;
  }
  
  .contact-info-icon {
    width: 50px;
    height: 50px;
    background-color: var(--accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea {
    background: var(--secondery);
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.8rem 1rem;
  }
  
  .footer {
    color: var(--text);
    text-align: center;
    padding: 2rem 0;
  }

  .contact-form input::placeholder {
    color: white; 
  }

  .contact-form textarea::placeholder {
    color: white;
  }
  /* Desktop Design */
@media screen and (min-width: 700px) {
    .container {
      padding: 4rem 6rem;
    }
  
    .about-description {
      font-size: 1rem;
    }
  
    /* grid */
    .grid {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }
  
    .grid-item {
      width: 30%;
    }
  
    /* nav */
    .nav {
      padding-left: 6rem;
      padding-right: 6rem;
      justify-content: space-between;
      align-items: center;
    }
  
    .toggler {
      display: none;
    }
  
    .nav-links {
      position: static;
      flex-direction: row;
      padding: 0;
      width: auto;
    }
  
    .nav-item {
      margin: 0 0.5rem;
    }
  
    .nav-item::after {
      position: absolute;
      top: 30px;
      margin: 0;
      background: none;
    }
  
    .nav-item-active {
      opacity: 1;
    }
  
    .nav-item-active::after {
      background: var(--accent);
    }
  
    /* hero */
    .hero {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .hero-info {
      text-align: left;
    }
  
    .title {
      font-size: 5rem;
    }
  
    /* About */
    .about {
      display: flex;
      justify-content: space-between;
    }
  
    .about-img {
      width: 40%;
    }
  
    .about-info {
      width: 55%;
    }
    
  
    /* contact */
    .contact {
      display: flex;
      justify-content: space-between;
    }
  
    .contact-form {
      width: 55%;
    }
  
    .submit-btn {
      font-size: 1.5rem;
    }
  }

  
  
  .skill-title {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
  }
  

  /* card */
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 

  }
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    overflow: hidden; 
    max-width: 50%;
  
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card:hover .description {
    opacity: 1;
    transform: translateY(0);
  }

  .description {
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(20px);
    margin-top: 10px;
  }

  /* image style */
  .card img {
    width: 100%; 
    height: auto; 
  }

  .projectH1{
    text-align: center;
  }

/* skill style */
.skills {
   
  margin-top: 20px; 
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.skills-bar {
  padding: 25px 0; 
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
  color: #6883ba; 
}

.skills-bar .bar .info {
  margin-bottom: 8px;
}

.skills-bar .bar .progress-line {

  height: 10px;
  width: 100%; 
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3d3b8e;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  text-transform: uppercase; 
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}


.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 70%;
}
.progress-line .bootstrap {
  width: 82%;
}
.progress-line .javascript {
  width: 62%;
}
.progress-line .c {
  width: 90%;
}


/* Media Query */
@media (max-width: 700px) {
  .skills {
    width: 80%;
    margin-top: 30px; 
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }
}
